@import "./styles/fonts";

:root {
    --gray-color-900: #f4f4f4;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

iframe {
    border: none;
}

.editor-styles-wrapper {
    .wp-block {
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    
        &.block-list-appender {
            display: none;
        }
    }
}
